{% extends 'base.html.twig' %}

{% block title %}Hello Panier
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">Panier</h1>
	{% if items %}
		{# si j'ai des produits dans mon panier, j'affiche son contenu #}

		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th colspan="2">Total</th>
				</tr>

			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td><img src="{{ item.product.image }}" alt="" width="50"></td>
						<td>{{ item.product.price }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.product.price * item.quantity }}
							€</td>
						<td>
							<a href="{{ path('cart_remove', {id: item.product.id}) }}" class="text-secondary">Retirer</a></td>
					</tr>
				{% endfor %}

			</tbody>
			<tfoot>
                <tr>
                    <td colspan="3"  class="text-end">Total</td>
                    <td colspan="2"  >{{ total }} €</td>
                </tr>
            </tfoot>
		</table>


	{% else %}
		<h2 class="text-center mt-5">Panier vide</h2>

	{% endif %}


{% endblock %}
